{% extends "articles/base.html" %}

{% block content %}

<div id="main" class="span8 offset2 text-center">


	<p>
		<a href="{{ article.url }}">{{article.title}}</a>
		<span id="author">by <strong>{{article.author}}</strong></span>

	<br/>

	has an Ego Rating of</p>

	<p class="score">{{ article.total }} </p>

	<p>This breaks down as follows:</p>

	<p><!-- Breakdown here --></p>

</div>

<footer class="span8 offset2 well">
	<a href="{% url 'articles:Home' %}" class="pull-left">Home</a>

	<a href="#" class="pull-right">About</a>
</footer>

{% endblock %}
