{% extends "articles/base.html" %}

{% load humanize %}

{% block content %}

<div class="text-center">

	<div id="result">

		<p class="article">
			<a href="{{ article.url }}" id="article-link">{{article.title}}</a><br/>
			<span id="author">by <strong>{{article.author}}</strong></span>

		</p>

		<p class="has-rating">
			has a Comment Is Mee score of:
		</p>

		<p class="score">
			<abbr title="The number of uses of the first person per 1,000 words" class="severity-{{article.severity}}">{{ article.score }}</abbr></p>

		<p>{{article.get_message}}</p>

	</div>

	<div id="share-button">

		Tweet this result:

		<a href="https://twitter.com/share" class="twitter-share-button" data-text='{{article}} scored {{article.score}} on #CommentIsMee' data-size="large" data-count="none" data-related="qwghlm">Tweet</a>
	</div>

	<div id="breakdown">

		<p>This breaks down as follows:</p>

		<div id="breakdown-inner">
			{% for word, count in article.get_word_counts.items %}
				<div class="text-right">{{word}}:</div>
				<div class="text-left">{{count}}</div>
			{% endfor %}
			<div class="clearfix"></div>
		</div>

	</div>

	<div id="totals">
		<p>
			That's a total of {{ article.get_total }} self-references in {{ article.word_count | intcomma }} words &ndash; i.e. {{ article.score }} per 1,000 words</p>
		</p>
	</div>

	<div id="form-wrapper">

		<p>Want to try another article? Have a go below:</p>

		{% include "articles/form.html" %}

	</div>
</div>

{% endblock %}
