{% extends "articles/base.html" %}

{% block content %}

<div id="form-wrapper">

	<p class="text-center">Just how self-obsessed is that <em>Comment Is Free</em> article you're reading?</p>

	{% include "articles/form.html" %}

</div>

<div id="top-articles">

	<h2>Top Articles</h2>

	<p>Remember, this isn't a game, but if you're curious as to what articles have the highest scores, here you go:</p>

	<table class="table table-striped table-bordered">

		<tr>
			<th>Title</th>
			<th>Rating</th>
		</tr>

	{% for article in top_articles %}

		<tr>
			<td><a href="{% url 'articles:detail' article.id %}">{{article.title}}</a> by {{article.author}}</td>
			<td>{{article.score | floatformat:2}}</td>
		</tr>

	{% endfor %}

	</table>
</div>

{% endblock %}
