{% extends "articles/base.html" %}

{% block body_class %}index{% endblock %}

{% block content %}

<div id="form-wrapper" class="text-center">

	<p>Just how self-centred is that <em>Comment Is Free</em> article you're reading?<br/>

		Paste in the link below and see how it stacks up against the rest.
	</p>

	{% include "articles/form.html" %}

</div>

<div id="top-articles" class="span8 offset2">

	<h2>Top Articles</h2>

	<p>Remember this is not a game &ndash; there are no winners and we all lose. If however you're curious as to what articles have the highest scores, here you go:</p>

	<table class="table table-striped table-bordered">

		<tr>
			<th>Article</th>
			<th>Score</th>
		</tr>

	{% for article in top_articles %}

		<tr>
			<td><a href="{% url 'articles:detail' article.id %}">{{article.title}}</a> by {{article.author}}</td>
			<td>{{article.score | floatformat:2}}</td>
		</tr>

	{% endfor %}

	</table>
</div>

{% endblock %}
